#title-add-hotel, #title-update-hotel {
    margin-top: 10px;
    font-size: 30px;
    margin-left: 120px;
    font-weight: 700;
}
#add-button-hotel{
    background: #009D76;
    color: #FFFFFF;
    height: 70px;
}
#card-hotel h3 {
    font-size: 30px;
    font-weight: 700;
}
#card-hotel h2 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
}
#card-hotel p{
    font-size: 15px;
}
#update-hotel-button{
    background: #009D76;
    color: #FFFFFF;
    height: 70px;
}
#delete-hotel-button{
    background: #D82C0D;
    color: #FFFFFF;
    height: 70px;
}
.mat-snack-bar-container {
    background: #009D76 !important;
    color: #ffffff !important;
}
