<div class="flex flex-col flex-auto min-w-0">

    <h1 id="title-home" class="mt-10">Home</h1>
    <h2 id="subtitle-home" class="mt-10">■ What do you want to do in this occasion?</h2>
    <button  id="guest-home-button" mat-raised-button class="ml-50 mr-50 mt-10" [routerLink]="'/guest'"> Register Guest</button>
    <button  id="consumption-home-button" mat-raised-button class="ml-50 mr-50 mt-10" [routerLink]="'/consumption'"> Register Consumption</button>

<!--    <app-principal></app-principal>-->
</div>
