<h1> Upcoming reservations</h1>
<mat-grid-list cols="2" class="grid-list">
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <div class="user-info">
                    <img src="../../assets/images/avatars/female-01.jpg" alt="Female user" class="user-img">
                    <h3>User 1</h3>
                    <p class="user-played">Played</p>
                    <p class="user-date-range">15 January - 17 January</p>
                    <p class="user-amount">S./ 200</p>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div class="user-info">
                <img src="../../assets/images/avatars/female-01.jpg" alt="Female user" class="user-img">
                <h3>User 2</h3>
                <p class="user-not-played">Played</p>
                <p class="user-date-range">15 January - 17 January</p>
                <p class="pay-btn">Pay</p>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<h1>  Current Guests</h1>



<mat-grid-list cols="1" rowHeight="250px" >
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <div class="user-info-row">
                    <img src="../../assets/images/avatars/female-01.jpg" alt="Female user" class="user-img">
                    <h3 >  User 100</h3>
                    <p class="user-played">Played</p>
                    <p class="user-date-range">15 January - 17 January</p>
                    <p class="user-amount">S./ 200</p>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <div class="user-info-row">
                    <img src="../../assets/images/avatars/female-01.jpg" alt="Female user" class="user-img">
                    <h3>User 1</h3>
                    <p class="user-played">Played</p>
                    <p class="user-date-range">15 January - 17 January</p>
                    <p class="user-amount">S./ 200</p>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<!--<google-chart #chart-->
<!--              [title]="title"-->
<!--              [type]="type"-->
<!--              [data]="data"-->
<!--              [options]="options"-->
<!--              [width]="width"-->
<!--              [height]="height">-->
<!--</google-chart>-->

<div class="ml-40 mb-20">
<button mat-flat-button [color]="'primary'">+ Reservation</button>
</div>
